@using CI_platfom.Entity.ViewModel
@model AdminVM
@{
    ViewData["Title"] = "Admin_Mission";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
<link rel="stylesheet" href="~/css/Admin.css">
</head>

<h3 class="ms-5 mt-4 spanUser"><span>Mission Application</span> </h3>
<div class="row mt-5">
    <div class="col-md-4 col-6 col-lg-4 d-flex align-items-center">
        <form action="" class="p-5">
            <div class="border searchMission d-flex align-items-center">
                <button type="button" class="btn"><img src="~/images/search.png" alt=""></button>
                <input class="form-control border-0 bg-transparent flex-grow-1" type="search" placeholder="Search "
                    id="searchbtn" aria-label="Search">
            </div>
        </form>
    </div>
    <div class="col-2 d-flex align-items-center">
        <button type="button" class="btn rounded-pill px-4" id="addBtn" data-bs-toggle="modal"
            data-bs-target="#timeModal">
            <i class="fa-solid fa-plus pe-2"></i>
            Add
        </button>
    </div>
</div>
 <div class="table-responsive ms-5 mt-5">
                <table id="example" class="table nowrap border" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th class="border-bottom-0">Mission Title</th>
                            <th class="border-bottom-0">Mission Id</th>
                            <th class="border-bottom-0">User Id</th>
                            <th class="border-bottom-0">User Name</th>
                            <th class="border-bottom-0">Applied Date</th>
                            <th class="border-bottom-0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                        @{
                var Cnt = Model.missionApplications;
                Console.WriteLine(Cnt);
                foreach (var MissionApplication in Cnt)
                {
                     <tr>
                            <td>@MissionApplication.Mission.Title</td>
                             <td>@MissionApplication.MissionId</td>
                            <td>@MissionApplication.UserId</td>
                            <td>@MissionApplication.User.FirstName @MissionApplication.User.LastName</td>
                            <td>@MissionApplication.AppliedAt.ToShortDateString()</td>
                       
                            <td>
                                
                                <button class="btn border-0" id="success"><i class="fa-regular fa-circle-check" style="font-size: 22px;"></i></button>
                                <button class="btn border-0" id="cancel"><i class="fa-regular fa-circle-xmark" style="font-size: 22px;"></i></button>
                                
                            </td>
                        </tr>      

                }
         
                            
                            }
                        
                        
                    </tbody>
                </table>
            </div>
