@using CI_platfom.Entity.ViewModel
@model IEnumerable<FilterView>



                    <div id="grid" class="tabcontent">
                        <div class="row">
                         
                @foreach (var obj in Model)
                {
                    
                  <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                                <div class="card h-100">
                                    <div class="position-relative">
                                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png"
                                            alt="Grow-Trees" class="card-img-top" />

                                        <div class="position-absolute top-0 end-0"> <button class="btn-1" 
                                                type="submit"><img src="~/images/pin.png"
                                                    alt="buttonpng" />@obj.CityName</button>
                                        </div>
                                        <div class="position-absolute top-50 end-0 translate-middle-y"><button
                                                class="btn-2" type="submit"><img src="~/images/heart.png"
                                                    alt="buttonpng" /></button></div>
                                        <div class="position-absolute bottom-0 end-0"><button class="btn-3"
                                                type="submit"><img src="~/images/user.png" alt="buttonpng" /></button>
                                        </div>
                                        <div class="position-absolute top-100 start-50 translate-middle bg-light p-1"
                                            style="border-radius:18px;">
                                            <p>@obj.ThemeTitle</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">@obj.Title</h4>
                                        <p class="card-text">
                                         @obj.Description
                                        </p>
                                        <div class="row">
                                            <div class="col-6">
                                                <h8 class="Mission_name">@obj.Title</h8>
                                            </div>
                                            <div class="col-6">
                                                <div col-lg-2 col-md-2><img src="~/images/selected-star.png"><img
                                                        src="~/images/selected-star.png"><img
                                                        src="~/images/selected-star.png"><img
                                                        src="~/images/selected-star.png"><img src="~/images/star.png"></div>

                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-lg-2 col-md-1 col-sm-1 col-1 p-0">
                                                <hr>
                                            </div>
                                            <div class="col-lg-8 col-md-10 col-sm-10 col-10 p-0 d-flex justify-content-center  border border-dark-subtle"
                                                style="border-radius:21px;">From @obj.StartDate.Value.ToShortDateString() untill @obj.EndDate.Value.ToShortDateString()</div>
                                            <div class="col-lg-2 col-md-1 col-sm-1 col-1 p-0 ">
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-7">
                                                <img src="~/images/Seats-left.png">
                                                @obj.Availability
                                            </div>
                                            <div class="col-1 p-0 m-0">
                                                <img src="~/images/deadline.png">
                                            </div>
                                            <div class="col-4 p-0">@obj.EndDate.Value.ToShortDateString()
                                                deadline
                                            </div>
                                        </div>
                                        <div class="row-cols-auto d-flex justify-content-center">
                                            <button type="button" class="btn_view p-2">view details <img
                                                    src="~/images/right-arrow.png"></button>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        
                }

               
                              </div>
                            </div>
