@using CI_platfom.Entity.ViewModel
@model HomeLandingPageVM

<style>
    #filter-items {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        color: #757575;
    }
    .pill{
    border: 1px solid black;
    border-radius: 40%;
    padding: 2px 5px;
    margin-right: 7px;
}
</style>



<div class="shadow-sm border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 p-3 border-start border-end d-inline-flex">
                <div class="input-group">
                    <span class="input-group-text bg-white border-none" id="seacrhIcon">
                        <img src="~/images/search.png" />
                    </span>
                    <input type="search" class="form-control border-none" placeholder="Search" aria-label="Search" aria-describedby="seacrhIcon" id="searchField" onkeyup="search();">
                </div>
                <button class="img-filter border-none bg-white">
                    <img src="~/images/filter.png" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterMenu" aria-controls="filterMenu" />
                </button>
            </div>
            <div class="filter-options col-md-8">
                <div class="row h-100">
                    <div class="col-md-3 p-3 border-end">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="countryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Country
                            </a>
                            <ul class="dropdown-menu scrollable-menu" aria-labelledby="profileDropdown" role="menu" id="CountryList">
                     
                                  @foreach (var country in Model.Countries)
                                {
                                     <li value="@country.CountryId">
                                        <a class="dropdown-item" value="@country.CountryId">@country.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 p-3 border-end">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="cityDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                City
                            </a>
                            <ul class="dropdown-menu ps-2 scrollable-menu CardsFilter" aria-labelledby="cityDropdown" id="cityList">

                                @*   <li><button class="dropdown-item countries" value="All" asp-controller="Home" asp-action="HomePage" asp-route-id="0">All</button></li>*@
                                 @foreach(var city in Model.Cities)
                                    {
                                    <li>
                                    <div class="form-check" id="drop-city">
                                    <input class="form-check-input" type="checkbox" value="@city.Name" id="@city.Name" onclick="FilterMissions()">
                                    <label class="form-check-label" for="@city.Name">@city.Name</label>
                                    </div>
                                    </li>
                                    }

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 p-3 border-end">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="themeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Theme
                            </a>
                            <ul class="dropdown-menu ps-2 scrollable-menu CardsFilter" aria-labelledby="themeDropdown" id="ThemeList">
                                @foreach (var theme in Model.Themes)
                                {
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="@theme.Title" id="@theme.Title" onclick="FilterMissions()">
                                            <label class="form-check-label" for="@theme.Title">@theme.Title</label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 p-3 border-end">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="skillsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Skills
                            </a>
                            <ul class="dropdown-menu ps-2 scrollable-menu CardsFilter" id="SkillList" aria-labelledby="skillsDropdown">
                                @foreach (var skill in Model.Skills)
                                {
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="@skill.SkillName" id="@skill.SkillName" onclick="FilterMissions()">
                                            <label class="form-check-label" for="@skill.SkillName">@skill.SkillName</label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="filterMenu" aria-labelledby="filterMenu">
                <div class="offcanvas-header flex-row-reverse">
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="accordion" id="filters">
                        <div class="accordion-item border-none">
                            <h2 class="accordion-header" id="country">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#countriesAccordion" aria-expanded="false" aria-controls="countriesAccordion">
                                    Country
                                </button>
                            </h2>
                            <div id="countriesAccordion" class="accordion-collapse collapse" aria-labelledby="country" data-bs-parent="#filters">
                                <div class="accordion-body">
                                 @foreach (var country in Model.Countries)
                                {
                                     <li value="@country.CountryId">
                                        <a class="dropdown-item" value="@country.CountryId">@country.Name</a>
                                    </li>
                                }
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border-none">
                            <h2 class="accordion-header" id="city">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#citiesAccordion" aria-expanded="false" aria-controls="citiesAccordion">
                                    City
                                </button>
                            </h2>
                            <div id="citiesAccordion" class="accordion-collapse collapse" aria-labelledby="city" data-bs-parent="#filters">
                                <div class="accordion-body" id="cityList">
                                    @foreach (var city in Model.Cities)
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="@city.Name" id="@city.Name" onclick="FilterMissions()">
                                            <label class="form-check-label" for="@city.Name">
                                                @city.Name
                                            </label>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border-none">
                            <h2 class="accordion-header" id="theme">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#themesAccordion" aria-expanded="false" aria-controls="themesAccordion">
                                    Theme
                                </button>
                            </h2>
                            <div id="themesAccordion" class="accordion-collapse collapse" aria-labelledby="theme" data-bs-parent="#filters">
                                <div class="accordion-body"  id="ThemeList">
                                    @foreach (var theme in Model.Themes)
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="@theme.Title" onclick="FilterMissions()">
                                            <label class="form-check-label" for="@theme.Title">
                                                @theme.Title
                                            </label>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border-none">
                            <h2 class="accordion-header" id="skill">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#skillsAccordion" aria-expanded="false" aria-controls="skillsAccordion">
                                    Skills
                                </button>
                            </h2>
                            <div id="skillsAccordion" class="accordion-collapse collapse" aria-labelledby="skill" data-bs-parent="#filters">
                                <div class="accordion-body"  id="SkillList">
                                    @foreach (var skill in Model.Skills)
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id=" @skill.SkillName" onclick="FilterMissions()">
                                            <label class="form-check-label" for=" @skill.SkillName">
                                                @skill.SkillName
                                            </label>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="filter-items">
     
<script
  src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
  crossorigin="anonymous"></script>
@*  <script src="~/js/Filters.js"></script>*@
</div>


