;@using CI_platfom.Entity.ViewModel
@{
    ViewData["Title"] = "Volunteering TimeSheet";
}
@model TimeSheetVM

    <style>
    .btn-outline-warning {
        color: #F88634;
        border-color: #F88634;
    }

        .btn-outline-warning:hover {
            background-color: #F88634;
            border-color: #F88634;
        }
        

.nav-link {
    color: #292a2b;
}

    .nav-link:focus, .nav-link:hover {
        color: #292a2b;
    }

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  </style> 
<body>

<div class="container">
    
    <div class="row">
        <div class="col-lg-6 col-12 border-2 border-danger">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="my-auto">Volunteering Hours</h5>
                        <button class="submit-btn" type="button"  onclick="TimeBaseTs()" data-bs-target="#volunteerHours" data-bs-toggle="modal">
                            <img />
                            Add
                        </button>
                        <div class="modal fade" id="volunteerHours" tabindex="-1">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Please Input Below Volunteering Hours</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" class="text-secondary px-3" id="VolunteerTimeForm">

                                            <div class="row pl-0">
                                                <label for="" class="form-label">Select Mission</label>
                                                 <select class="form-select" aria-label="Default select example" id="missionTimelist" onchange="getDatesTs()">
                                                    <option selected>Select your mission</option>
                                                    @{
                                                        var missionlist = Model.missionApplications.Where(u => u.UserId == Model.LoggedUser.UserId && u.ApprovalStatus.Equals("APPROVE"));
                                                        foreach (var listdropdown in missionlist)
                                                        {
                                                            if (listdropdown.Mission.MissionType.Equals("Time"))
                                                            {
                                                                <option name="@listdropdown.Mission.Title" id="@listdropdown.Mission.MissionId" value="@listdropdown.Mission.MissionId" data-date="@listdropdown.Mission.StartDate">@listdropdown.Mission.Title @listdropdown.Mission.MissionType</option>

                                                            }

                                                        }
                                                    }
                                                </select>
                                                 <span class="text-danger" id="TimeSheetMissionError"></span>
                                            </div>

                                            <div class="row pl-0 mt-3">
                                                <label for="" class="form-label">Date Volunteered</label>
                                              @*  <input  type="text" id="TimeVolunteerDate" class="form-control">
.*@
                                                <input type="date" id="TimeVolunteerDate" class="form-control">
                                                 <span class="text-danger" id="TimeVolunteerDateError"></span>
                                        @*      <input type="text" id="datepicker">*@
                                            </div>
                                            <input type="hidden"  name="CreatedAt" id="CreatedDate" />
                                            <div class="row pl-0 mt-3">
                                                <div class="col-6 pe-3">
                                                    <label for="" class="form-label">Hours</label>
                                                    <input type="number"  min="1" max="15" id="TimeVolunteerHour" class="form-control" placeholder="Enter Spent Hours" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                                                    <span class="text-danger" id="TimeVolunteerHourError"></span>
                                                   
                                                </div>
                                                <div class="col-6">
                                                    <label for="" class="form-label">Minutes</label>
                                                    <input type="number"  min="1" max="59" id="TimeVolunteerMinute" class="form-control" placeholder="Enter Spent Minutes" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                                                        <span class="text-danger" id="TimeVolunteerMinuteError"></span>
                                                </div>
                                             

                                            </div>
                                            <div class="row pl-0 mt-3">
                                                <label for="" class="form-label">Message</label>
                                                <textarea placeholder="Enter Your Message" style="height:150px" id="TimeVolunteerMessage"></textarea>
                                                 <span class="text-danger" id="TimeVolunteerMessageError"></span>
                                            </div>
                                                
                                                
                                                    <input type="text" id="TimeSheetId" disabled="disabled" hidden>
                                           
                                            
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-outline-warning rounded-pill submit-time-timesheet" onclick="AddTimeTS()" data-user-id="@Model.LoggedUser.UserId" data-bs-dismiss="modal">Submit</button>
                                        <button type="button" class="btn btn-outline-warning rounded-pill update-time-timesheet" onclick="UpdateTimeTs()" data-user-id="@Model.LoggedUser.UserId" style="display:none" data-bs-dismiss="modal">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-borderless mt-3" id="volunteer-time-table">
                        <thead>
                            <tr>
                                <th scope="col">Mission</th>
                                <th scope="col">Date</th>
                                <th scope="col">Hours</th>
                                <th scope="col">Minutes</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="volunteer-time-data">
                           @{
                                var time_count = Model.timesheets.Where(u => u.UserId == Model.LoggedUser.UserId);
                                Console.WriteLine(time_count);
                                foreach (var timesheet_time in time_count)
                                {
                                     if (timesheet_time.Mission.MissionType.Equals("Time")){
                                    <tr>
                                        <th scope="row">@timesheet_time.Mission.Title</th>
                                        <td>@timesheet_time.DateVolunteered.ToShortDateString()</td>
                                        
                                   <td class="hours-filter">@timesheet_time.Time.Value.Hour </td>
                                             <td>@timesheet_time.Time.Value.Minute</td>
                                        <td><i class="bi bi-pencil-square pe-4 TimeBaseUpdate" style="color:#F88634" onclick="EditTime('+@timesheet_time.TimesheetId+')" data-bs-target="#volunteerHours" data-bs-toggle="modal"></i>
                                        <i class="bi bi-trash3" onclick="Delete('+@timesheet_time.TimesheetId+')"></i></td>
                                    </tr>
                                }
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>


        </div>


        

        <div class="col-lg-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="my-auto">Volunteering Goals</h5>
                        @*<button class="submit-btn" data-bs-toggle="modal" data-bs-target="#volunteerGoals" type="button" id="GoalBaseTs">*@
                            <button class="submit-btn" type="button" onclick="GoalBaseTs()" data-bs-target="#volunteerGoals" data-bs-toggle="modal">
                            <img />
                            Add
                        </button>
                        <div class="modal fade" id="volunteerGoals" tabindex="-1">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Please Input Below Volunteering Goals</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" class="text-secondary px-3">

                                            <div class="row pl-0">
                                                <label for="" class="form-label">Select Mission</label>

                                                <select class="form-select" aria-label="Default select example" id="missionGoallist" onchange="getDatesGoalTs()">
                                                    <option selected>Select your mission</option>
                                                    @{
                                                        var Goalmissionlist = Model.missionApplications.Where(u => u.UserId == Model.LoggedUser.UserId && u.ApprovalStatus.Equals("APPROVE"));
                                                        foreach (var listdropdown in Goalmissionlist)
                                                        {
                                                            if (listdropdown.Mission.MissionType.Equals("Goal"))
                                                            {
                                                                <option value="@listdropdown.Mission.MissionId" data-date="@listdropdown.Mission.StartDate">@listdropdown.Mission.Title @listdropdown.Mission.MissionType</option>

                                                            }

                                                        }
                                                    }
                                                </select>
                                                 <span class="text-danger" id="GoalTimeSheetMissionError"></span>
                                            </div>
                                            <div class="row pl-0 mt-3">
                                                <div class="col-12 pe-3">
                                                    <label for="" class="form-label">Actions</label>
                                                    <input type="number"  min=1 id="VolunteerAction" class="form-control" placeholder="Enter your actions" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                                                    <span class="text-danger" id="GoalVolunteerActionError"></span>
                                                </div>
                                            </div>

                                            <div class="row pl-0 mt-3">
                                                <label for="" class="form-label">Date Volunteered</label>
                                                <input type="date" id="GoalVolunteerDate" class="form-control" placeholder="Select Date">
                                                 <span class="text-danger" id="GoalVolunteerDateError"></span>
                                            </div>
                                            
                                            <div class="row pl-0 mt-3">
                                                <label for="" class="form-label">Message</label>
                                                <textarea placeholder="Enter Your Message" style="height:150px" id="GoalVolunteerMessage"></textarea>
                                                    <span class="text-danger" id="GoalVolunteerMessageError"></span>
                                            </div>
                                            <div class="row pl-0 mt-3" id='GsId' hidden>
                                                    <label for="" class="form-label">ID</label>
                                                    <input type="text" id="GoalSheetId" disabled="disabled" hidden>
                                                </div>

                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary rounded-pill" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-outline-warning rounded-pill submit-time-timesheet" onclick="AddGoalTS()" data-user-id="@Model.LoggedUser.UserId"  data-bs-dismiss="modal">Submit</button>
                                               <button type="button" class="btn btn-outline-warning rounded-pill update-time-timesheet" onclick="UpdateGoalTs()"   data-user-id="@Model.LoggedUser.UserId" style="display:none"  data-bs-dismiss="modal">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-borderless mt-3" id="volunteer-goal-table">
                        <thead>
                            <tr>
                                <th scope="col">Mission</th>
                                <th scope="col">Date</th>
                                <th scope="col">Actions</th>
                                
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var time_count1 = Model.timesheets.Where(u => u.UserId == Model.LoggedUser.UserId);
                                Console.WriteLine(time_count1);
                                foreach (var timesheet_time1 in time_count1)
                                {
                                    if (timesheet_time1.Mission.MissionType.Equals("Goal"))
                                    {
                                           <tr>
                                        <th scope="row">@timesheet_time1.Mission.Title</th>
                                        <td>@timesheet_time1.DateVolunteered.ToShortDateString()</td>
                                         <td>@timesheet_time1.Action</td>
                                     
                                        
                                        <td><i class="bi bi-pencil-square pe-4 GoalBaseUpdate" style="color:#F88634" onclick="EditGoal('+@timesheet_time1.TimesheetId+')" data-bs-target="#volunteerGoals" data-bs-toggle="modal"></i><i class="bi bi-trash3" onclick="Delete('+@timesheet_time1.TimesheetId+')"></i></td>
                                     </tr>
                                    }
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

     <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="~/js/timesheet.js" asp-append-version="true"></script>
</body>




