@using CI_platfom.Entity.ViewModel
@model StoryLandingPageVM
@{
    ViewData["Title"] = "StoryDetail";
      Layout = "~/Views/Shared/_StoryLayout.cshtml";
}

<style>
     .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }

   
</style>
<head>
    <link rel="stylesheet" href="~/css/Story.css" asp-append-version="true"/>
 </head>
<body>

    <div class="container p-0">
        <div class="row p-0">
           <div class="col-lg-6 col-md-6 col-sm-12">
                    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                        class="swiper mySwiper2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-2.png" />
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/img11.png" />
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/img1.png" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" />
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-2.png" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/images/Animal-welfare-_-save-birds-campaign.png" />
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <div thumbsSlider="" class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-2.png" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/images/img11.png" />
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/img1.png" />
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" />
                            </div>
                            <div class="swiper-slide">
                                <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-2.png" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/images/Animal-welfare-_-save-birds-campaign.png" />
                            </div>
                        </div>
                    </div>
                </div>



            <div class="col-lg-6 col-12 mt-5">
                <div class="row px-5">
                    <h2>@Model.AppliedStory.Title</h2>
                      <img src=@Model.AppliedStory.User.Avatar alt="" class="volunteer-img">
                    <p>
                        @Model.AppliedStory.User.FirstName @Model.AppliedStory.User.LastName
                    </p>
                    <p>
                        @Model.AppliedStory.User.WhyIVolunteer
                    </p>
                    <div class="col-md-8 col">
                        <button class="header-btn px-5" style="height:50px"  data-bs-toggle="modal" data-bs-target="#coWorker1" type="button"><img src="~/images/add1.png" style="margin-right: 20px;" class="flex align-items-center"/>Recommend to Co-Worker</button>
                    </div>
                    <div class="modal fade" id="coWorker1" tabindex="-1" aria-labelledby="coWorkerlLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content overflow-scroll" style="max-height:500px">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Recommend To Your Co-Workers</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            @foreach (var user in Model.UserList)
                                            {
                                                @*var torecommendeduser = Model.storyInvites.FirstOrDefault(m => (m.ToUserId == @user.UserId) && (m.FromUserId == @Model.LoggedUser.UserId) && (m.StoryId == @Model.AppliedStory.StoryId));*@
                                                  var torecommendeduser = Model.storyInvites.FirstOrDefault(m => (m.ToUserId == @user.UserId) && (m.FromUserId == @Model.LoggedUser.UserId) && (m.StoryId == @Model.AppliedStory.StoryId));
                                                <div class="d-flex justify-content-between mx-3 my-3">
                                                    <p>@user.FirstName @user.LastName @user.PhoneNumber</p>
                                                    @if (torecommendeduser == null)
                                                    {
                                                        <button class="recommend-story-btn btn btn-primary" data-story-id="@Model.AppliedStory.StoryId"  data-mission-id="@Model.AppliedStory.MissionId" data-fromuser-id="@Model.LoggedUser.UserId" data-touser-id="@user.UserId">recommend</button>
                                                    }
                                                    else
                                                    {
                                                        <button class="recommend-story-btn btn btn-success" data-story-id="@Model.AppliedStory.StoryId"  data-mission-id="@Model.AppliedStory.MissionId " data-fromuser-id="@Model.LoggedUser.UserId" data-touser-id="@user.UserId">recommended</button>
                                                    }

                                                </div>
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                    <div class="col-md-4 col">
                                  <form method="post" asp-controller="Mission" asp-action="MissionDetail" asp-route-missionId="@Model.AppliedStory.Mission.MissionId" asp-route-themeId="@Model.AppliedStory.Mission.ThemeId" asp-route-cityId="@Model.AppliedStory.Mission.CityId" asp-route-countryId="@Model.AppliedStory.Mission.CountryId">
                                
                                   <input type="hidden" name="missionId" value="@Model.AppliedStory.Mission.MissionId"/>
                                    <button class="submit-btn">
                            Open Mission 
                           <img src="~/images/right-arrow.png">
                        </button>
                            </form>
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="row mt-5" style="height:100%">
            <div class="col-xl-8 col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="mission-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">@Model.AppliedStory.Title</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active mt-3 px-3" id="home" role="tabpanel" aria-labelledby="mission-tab">
                        <h3>@Model.AppliedStory.Title</h3>
                        <p style="font-size:15px">
                            @Model.AppliedStory.Description
                            <br>
                            <br>

                            <br>
                            <br>
                       
                        </p>
                        
                       
                    </div>
                   
                    
                </div>

            </div>

          
        </div>
    </div>


    <hr />

  

</body>


   <script>
                var swiper = new Swiper(".mySwiper", {
                    loop: true,
                    spaceBetween: 10,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesProgress: true,
                });
                var swiper2 = new Swiper(".mySwiper2", {
                    loop: true,
                    spaceBetween: 10,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                    thumbs: {
                        swiper: swiper,
                    },
                });
            </Script>
