@using CI_platfom.Entity.ViewModel
@model TimeSheetVM
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Voluneer Timesheet</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap5.min.css" />
</head>
<body>
    <h1 style="margin-left:7%; margin-bottom:2%">volunteering Timesheet </h1>
    <div class="row">
        <div class="col-5" style="border: 0.5px solid black; margin-left:8%;">
            <table id="timebase">
                <thead>
                    <tr>
                        <th>Volunteering Hours</th>
                        <th class="p-5"></th>
                          <th class="p-5"></th>
                        <th class="p-5">
                            <button type="button" class="login-btn m-5 " data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
                                <i class="fa fa-plus"></i>Add
                            </button>
                        </th>
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content modal-lg">
                                    <div class="modal-header border-bottom-0">

                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Please input below volunteering hour </h1>

                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form asp-action="TimeSheet" method="post" id="TimeSheetFormData">
                                        <div class="form-group row mx-5">
                
                        <label for="" class="form-label ms-1"> Mission</label>
                        <select class="form-select" aria-label="Default select example" id="Mission">
                            <option selected>Select your mission</option>
                           
                        @{
                            var missionlist= Model.missionApplications.Where(u => u.UserId == Model.LoggedUser.UserId && u.ApprovalStatus=="APPROVE");
                            Console.WriteLine(missionlist);
                            foreach(var listdropdown in missionlist)
                            {
                                 <option value="@listdropdown.Mission.MissionId">@listdropdown.Mission.Title</option>
                            }
                        }           
                        </select>
                    </div>
                                        <div class="form-group row mt-2 mx-5">
                                            <label class="form-label col-12">Date Volunteered</label>
                                            <input type="date" class="form-control form-control-lg" id="DateVolunteered" name="DateVolunteered" placeholder="" required>
                                        </div>
                                        <div class="form-group row  mt-2 mx-5">
                                            <div class="col-6">
                                                <label class="form-label">Hour</label>
                                                <input type="number" class="form-control form-control-lg" id="Hour" name="Hour"  min="0" max="23" placeholder="hh"  required>
                                            </div>
                                            <div class="col-6 " mt-2 mx-5">
                                                <label class="form-label">minutes </label>
                                                <input type="number" class="form-control form-control-lg" id="minutes" name="minutes"   min="0" max="59" placeholder="mm" required>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2 mx-5 ">
                                            <label class="form-label col-12">Message</label>
                                            <input type="text" class="form-control form-control-lg" id="Message" name="Message" placeholder="" required>
                                        </div>
                                        <div class="modal-footer border-top-0">
                                            <button type="button" class="btn btn-outline-secondary rounded-pill px-4" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class=" rounded-pill px-4 reset-btn w-auto" id="submittimesheet">Submit</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </tr>
                    <tr>
                        <th scope="col">Mission</th>
                        <th scope="col">Date</th>
                        <th scope="col">Hours</th>
                        <th scope="col">Minutes</th>
                        <th scope="col"></th>
                        <th scope="col">  </th>
                    </tr>
                </thead>
                <tbody>
                  
                    
                    @{
                        var count = Model.timesheets.Where(t => t.UserId == Model.LoggedUser.UserId && t.Status == "APPROVE");
                        foreach( var list in count){
                            
                            <tr>
                        <td>@list.Mission.Title</td>
                        <td>@list.DateVolunteered</td>
                        <td>@list.Time</td>
                        <td>57</td>
                        <td><button class="border-0 m-5" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa fa-edit"></i></button></td>
                        <td><img src="~/images/bin.png" /></td>
                    </tr>
                        }
                        }
                    
                      

                </tbody>
            </table>
        </div>

        <div class="col-5" style="border: 0.5px solid black; padding-top: 5px; margin:5px;">
            <table id="goalbase">
                <thead>
                    <tr>
                        <th>Volunteering Goals</th>
                          <th class="p-5"></th>
                          <th class="p-5"></th>
                         <th class="p-5">
                            <button type="button" class="login-btn m-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                                <i class="fa fa-plus"></i>Add
                            </button>
                        </th>
                        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content modal-lg">
                                    <div class="modal-header border-bottom-0">

                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Please input below volunteering goal </h1>

                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                <form asp-action="TimeSheet" method="post" id="TimeSheetFormData">
                                        <div class="form-group row mx-5">
                                     <label for="" class="form-label ms-1"> Mission</label>
                        <select class="form-select" aria-label="Default select example" id="Mission">
                            <option selected>Select your mission</option>
                           
                        @{
                            var missionlist1= Model.missionApplications.Where(u => u.UserId == Model.LoggedUser.UserId && u.ApprovalStatus=="APPROVE");
                            Console.WriteLine(missionlist1);
                            foreach(var listdropdown in missionlist1)
                            {
                                 <option value="@listdropdown.Mission.MissionId">@listdropdown.Mission.Title</option>
                            }
                        }           
                        </select>
                    </div>
                                        <div class="form-group row mt-2 mx-5">
                                            <label class="form-label col-12">Action</label>
                                            <input type="text" class="form-control form-control-lg" id="Action" name="Action" placeholder="" required>
                                        </div>
                                        <div class="form-group row mt-2 mx-5">
                                            <label class="form-label col-12">Date Volunteered</label>
                                            <input type="date" class="form-control form-control-lg" id="DateVolunteered" name="DateVolunteered" placeholder="" required>
                                        </div>


                                        <div class="form-group row mt-2 mx-5 ">
                                            <label class="form-label col-12">Message</label>
                                            <input type="text" class="form-control form-control-lg" id="Notes" name="Message" placeholder="" required>
                                        </div>
                                        <div class="modal-footer border-top-0">
                                            <button type="button" class="btn btn-outline-secondary rounded-pill px-4" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class=" rounded-pill px-4 reset-btn w-auto" id="submitGoalsheet+">Submit</button>
                                        </div>
                                   </form>

                                </div>
                            </div>
                        </div>

                    </tr>
                    <tr>
                        <th scope="col">Mission</th>
                        <th scope="col">Date</th>
                        <th scope="col">Hours</th>
                        <th scope="col">Minutes</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                   
                            <tr>
                        <td>Thor Walton</td>
                        <td>2011-04-25</td>
                        <td>61</td>
                        <td>47</td>
                        <td><button class="border-0 m-5" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop1"><i class="fa fa-edit"></i></button></td>
                        <td><img src="~/images/bin.png" /></td>
                  
                        

                    </tr>

                </tbody>
            </table>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>*@
        <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap5.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="~/js/timesheet.js"></script>

</body>




