@using CI_platfom.Entity.ViewModel
@model IEnumerable<Landing_page>
<!DOCTYPE html>
<html>


    <header>
       @Html.Partial("_NavbarPartial")
    </header>
    <div >
      @Html.Partial("_FilterPartial")
    </div>
        <div class="container mt-4">
            @Html.Partial("_SortingPartial")
                        @Html.Partial("_ListPartial") 
              
                <div class="container">
                    @Html.Partial("_GridPartial")  
                            
                        </div>
                 
         
     
        <footer class="bg-light text-center text-lg-start">
            <div class="text-start p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                <a class="text-dark" href="##"> Privacy and policy</a>
            </div>
        </footer>
        <script>
            function openPage(pageName, elmnt, color) {
                // Hide all elements with class="tabcontent" by default */
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Remove the background color of all tablinks/buttons
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].style.backgroundColor = "";
                }

                // Show the specific tab content
                document.getElementById(pageName).style.display = "block";

                // Add the specific color to the button used to open the tab content
                elmnt.style.backgroundColor = color;
            }

            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();

        </script>
   

</html>